*{
    box-sizing: border-box;
}
header, footer{
    border: 1px solid black;
    height: 200px;  
    clear: both;  
}
.top{
    float: left;
    height: 200px;
    width: 33.333%;
    border: 1px solid black;
}
.bottom{
    float: left;
    height: 200px;
    width: 50%;
    border: 1px solid black;
}